.form{
    margin: 1% auto;
    margin-right: auto; margin-left: auto; width: 21%;
    padding-top: 11px;
    
}
h2{
    margin-left: 65px;
    margin-bottom: 0;
    line-height: 2em;
    text-shadow: black 4px 5px 4px;
    color: rgb(140, 20, 173)  
}
button{
    font-size: 17PX;
    background-color: black;
    color: white;
    position: relative;
    left: 107px;
    border-radius: 10px;    
}
button:hover{
    opacity: 0.7;
    transition-delay: 30ms;
}